Strings

In [1]:
x = 'hello'
for i in x:
    print(i)

h
e
l
l
o

In [5]:
print(x[0],x[-1])

h o

In [8]:
a = """ This is a long format string.
this is a second line.
this is third line. """
print(a)

 This is a long format string.
this is a second line.
this is third line.

In [13]:
print("This is a\n print statement")
print("This is a\t print statement")
print("This is a\\ print statement")

This is a
 print statement
This is a	 print statement
This is a\ print statement

In [ ]:
r='abc'
r*3

'abc\tabc\tabc\t'

In [ ]:
e='This is a sentence.'
e[:4], e[0:4] # if you put comma, it creates a tuple. See output

('This', 'This')

In [24]:
e="This is a sentence."
print(e[::-1])

.ecnetnes a si sihT

In [ ]:
e="This is a sentence."
len(e) #includes the spaces in count

19

In [ ]:
e="This is a sentence."
e.lower(),e.upper() #string here is not a datatype here. its a class.

('this is a sentence.', 'THIS IS A SENTENCE.')

In [30]:
e="  This is a sentence.    "
e.strip()

'This is a sentence.'

In [ ]:
e="  This is a sentence."
e.strip().lower().find('this is') #two or more functions in the same line use case.

0

In [42]:
e="  This is a sentence."
e.replace('sentence','string')

'  This is a string.'

In [45]:
w=["cat", "camilla", "chief"]
sentence = ', '.join(w)
sentence, sentence.split(', ')

('cat, camilla, chief', ['cat', 'camilla', 'chief'])

In [47]:
t='abc'
print(t.isalpha())
t='abc1'
print(t.isalpha())
print(t.isdigit())
t='123'
print(t.isdigit())

True
False
False
True

In [ ]:
t='abc'
print(f"{t} is a string statement") # two more ways to use f string

abc is a string statement

In [49]:
name = "Alice"
age = 25
print("Hello, my name is {} and I am {} years old.".format(name, age))
# Output: 'Hello, my name is Alice and I am 25 years old.'

Hello, my name is Alice and I am 25 years old.

In [50]:
name = "Alice"
age = 25
print("Hello, my name is %s and I am %d years old." % (name, age))
# Output: 'Hello, my name is Alice and I am 25 years old.'

Hello, my name is Alice and I am 25 years old.

In [52]:
name=input('Put your name here:')
print(name)
age=int(input("Put your age here"))
print(age)

Nidhi
20

In [53]:
age=float(input("Put your age here"))
print(age)

20.6

In [ ]:
q='right'
r='this is'
r+' '+q #concacat the strings

'this is right'

Question 1: Reverse a String
Example:
Input: "hello"
Output: "olleh"


Question 2: Check if a String is a Palindrome
Example:
Input: "racecar"
Output: True

Input: "hello"
Output: False


Question 3: Count Vowels and Consonants
Example:
Input: "hello"
Output: (2, 3)

Input: "data structures"
Output: (5, 9)

Question 4: Find the First Non-Repeating Character
Example:
Input: "swiss"
Output: "w"

Input: "success"
Output: "u"

Input: "aabbcc"
Output: None